.vscode/**
.vscode-test/**
.idea/**
src/**
node_modules/**
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
vite.config.ts
vite.webview.config.ts
.gitignore
.local-pack/**
*.vsix
commit-prompt.txt
dist/**/*.map
